# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv*/
.venv/

# Project specific
pipeline_output/
*.vcf
*.vcf.gz
*_vep_annotated.txt
*_filtered_variants.csv
*_potential_biomarkers.csv
*_report.pdf